.App {
  text-align: justify;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #EEE1C6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #000000;
}

.Cross {
  background: linear-gradient(to right, red 39%, purple 61%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(100% + 20vmin);
}

.Cross-left {
  align-items: left;
 }
 .Cross-right {
  align-items: right;
 }