.App {
  text-align: justify;
  background-color: #EEE1C6;
}

.App-logo {
  height: 28vmin;
  pointer-events: none;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #000000;
}

body {
  margin: 25px 30px 0px 30px;
  background-color: #EEE1C6;
  display:flex; 
  flex-direction:row; 
  justify-content:center;
  }

.Box-box { 
  margin: 25px;
  font-family: Overpass, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background: #EEE1C6;
  width: 200;
  height: 330;
  border: 35px double #431E15; 
  align-items: 'center';
}
